.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(25% - 12px);
  height: 80px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}